version: '3.8'

services:
  bot:
    build: .
    container_name: mi-bot-whatsapp
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    volumes:
      - ./auth_info_baileys:/app/auth_info_baileys
    restart: unless-stopped